Repository esp-cpp/espp, pull requests merged in 2024-12, with the labels that each got.

#348 feat(interrupt): Improve Interrupt implementation and API
  components/interrupt/include/interrupt.hpp
Labels: enhancement, interrupt

#349 Create overloads to allow float values to be saved in NVS
  components/nvs/include/nvs_handle_espp.hpp
Labels: enhancement, nvs

#353 fix(task): call `vTaskDelete` at end of `std::thread` in `task::run_on_core_non_blocking`
  components/task/include/run_on_core.hpp
  components/task/src/task.cpp
Labels: bug, tasks

#356 feat(hid_service): Update to store / reuse report characteristics
  components/hid_service/example/main/hid_service_example.cpp
  components/hid_service/include/hid_service.hpp
Labels: enhancement, hid, hid service
