Repository esp-cpp/espp, pull requests merged in 2024-05, with the labels that each got.

#219 feat(monitor): add core_id to task info
  components/monitor/include/task_monitor.hpp
Labels: enhancement, monitor

#221 fix(gfps): set default pairing capabilities to have mitm set to true
  components/gfps_service/src/nearby_ble.cpp
Labels: bug, google fast pair service

#224 feat(ble_gatt_server): update menu to use same unpair function that was added as part of #223
  components/ble_gatt_server/include/ble_gatt_server_menu.hpp
Labels: enhancement, cli, ble gatt server

#226 fix(timer): Fix memory leak in `espp::HighResolutionTimer` when calling start repeatedly
  components/timer/include/high_resolution_timer.hpp
Labels: bug, timer

#229 fix(math): update range mapper implementation
  components/math/example/main/math_example.cpp
  components/math/include/range_mapper.hpp
Labels: bug, math

#230 fix(joystick): remove discontinuity at deadzone
  components/joystick/include/joystick.hpp
Labels: bug, joystick

#232 fix(monitor): properly display no core affinity as -1
  components/monitor/include/task_monitor.hpp
Labels: bug, monitor

#233 feat(monitor): update monitor to support longer task name printing
  components/monitor/include/task_monitor.hpp
Labels: enhancement, monitor

#234 feat(hid-rp): update gamepad to use `unit::degree()` for hat switch
  components/hid-rp/include/hid-rp-gamepad.hpp
Labels: enhancement, hid-rp, hid service

#236 ci: fix static analysis for forks to remove redundant failing execution
  .github/workflows/static_analysis.yml
Labels: bug, ci

#235 Add NVS component, wrapping esp-idf nvs_handle.hpp
  .github/workflows/build.yml
  components/nvs/CMakeLists.txt
  components/nvs/example/CMakeLists.txt
  components/nvs/example/README.md
  components/nvs/example/main/CMakeLists.txt
  components/nvs/example/main/nvs_example.cpp
  components/nvs/example/partitions.csv
  components/nvs/example/sdkconfig.defaults
  components/nvs/include/nvs.hpp
  doc/Doxyfile
  doc/en/index.rst
  doc/en/nvs.rst
Labels: enhancement, nvs

#237 feat(hid-rp): update gamepad to support joystick/trigger storage type specification
  components/hid-rp/example/main/hid_rp_example.cpp
  components/hid-rp/include/hid-rp-gamepad.hpp
  components/hid_service/example/main/hid_service_example.cpp
Labels: enhancement, hid-rp

#240 doc: fix nvs example case sensitivity
  components/nvs/example/main/nvs_example.cpp
Labels: documentation, nvs

#241 feat(motorgo): Add APIs for more customized use (single motor, delayed motor init, etc.)
  components/motorgo-mini/include/motorgo-mini.hpp
Labels: enhancement, motorgo mini

#242 fix(nvs): fix hard-coded ns/key in bool overloads
  components/nvs/example/README.md
  components/nvs/example/main/nvs_example.cpp
  components/nvs/include/nvs.hpp
Labels: bug, nvs

#243 feat(gt911): add support for reading home button
  components/gt911/example/README.md
  components/gt911/example/main/gt911_example.cpp
  components/gt911/include/gt911.hpp
Labels: enhancement, touch driver, gt911

#244 feat(display): Allow full configuration of display task
  components/display/include/display.hpp
Labels: enhancement, display

#246 feat(timer): allow `skip_unhandled_events` and timer dispatch configuration for `HighResolutionTimer`
  components/timer/example/main/timer_example.cpp
  components/timer/include/high_resolution_timer.hpp
Labels: enhancement, timer

#247 feat(kts1622) Add new set_direction method to change I/O direction register
  components/kts1622/include/kts1622.hpp
Labels: enhancement, kts1622

#248 doc: update deps and build pdf
  .github/workflows/build_and_publish_docs.yml
  doc/Doxyfile
  doc/requirements.txt
Labels: documentation

#249 Fix pdf build
  .github/workflows/build.yml
  .github/workflows/build_and_publish_docs.yml
Labels: documentation
