Repository esp-cpp/espp, pull requests merged in 2024-04, with the labels that each got.

#192 feat(ble_gatt_server): additional APIs for device info service
  components/ble_gatt_server/include/device_info_service.hpp
Labels: enhancement, ble, ble gatt server

#193 feat(logger): Use esp_timer_get_time on esp platform
  components/logger/CMakeLists.txt
  components/logger/include/logger.hpp
Labels: enhancement, logger

#195 feat(ble_gatt_server): add API to get RSSI
  components/ble_gatt_server/include/ble_gatt_server.hpp
  components/ble_gatt_server/include/ble_gatt_server_menu.hpp
  components/hid_service/example/main/hid_service_example.cpp
Labels: enhancement, ble, ble gatt server

#196 example(i2c): update example for menuconfig of i2c clock speed
  components/i2c/example/main/Kconfig.projbuild
  components/i2c/example/main/i2c_example.cpp
Labels: enhancement, examples, i2c

#198 fix(task): update task name config to be string instead of string_view
  components/task/include/task.hpp
Labels: bug, tasks

#199 Fix/event manager publish
  components/event_manager/example/main/event_manager_example.cpp
  components/event_manager/example/sdkconfig.defaults
  components/event_manager/src/event_manager.cpp
Labels: bug, event manager

#200 Feature/high resolution timer
  components/base_component/include/base_component.hpp
  components/logger/include/logger.hpp
  components/timer/CMakeLists.txt
  components/timer/example/main/timer_example.cpp
  components/timer/include/high_resolution_timer.hpp
  doc/Doxyfile
  doc/en/timer.rst
Labels: enhancement, timer

#201 feat(interrupt): allow user to configure which core GPIO interrupt is allocated on
  components/button/include/button.hpp
  components/interrupt/example/main/interrupt_example.cpp
  components/interrupt/include/interrupt.hpp
Labels: enhancement, button, interrupt

#207 feat(math): Flesh out vector2d operators
  components/math/example/CMakeLists.txt
  components/math/example/main/math_example.cpp
  components/math/include/vector2d.hpp
Labels: enhancement, math

#208 doc: update math docs to point to examples
  components/math/include/bezier.hpp
  components/math/include/gaussian.hpp
  components/math/include/range_mapper.hpp
  components/math/include/vector2d.hpp
  doc/en/math/fast_math.rst
Labels: documentation, enhancement

#210 ci: fix static analysis permissions to allow issue write since that i…
  .github/workflows/static_analysis.yml
Labels: bug, ci

#211 Feature/gfps high resolution timer
  components/gfps_service/include/gfps.hpp
  components/gfps_service/src/nearby_platform.cpp
  components/timer/example/main/timer_example.cpp
  components/timer/include/high_resolution_timer.hpp
Labels: enhancement, timer, google fast pair service

#212 feature: Allow Cli to use custom CDC or VFS
  components/cli/CMakeLists.txt
  components/cli/include/cli.hpp
  components/cli/include/line_input.hpp
  components/cli/src/cli.cpp
Labels: enhancement, cli

#214 Use condition variable to sync init when using multiple cores
  components/i2c/include/i2c.hpp
Labels: enhancement, i2c

#215 Feature/run on core
  components/i2c/include/i2c.hpp
  components/interrupt/include/interrupt.hpp
  components/task/example/main/task_example.cpp
  components/task/include/task.hpp
Labels: enhancement, tasks, i2c, interrupt

#217 feat(ble_gatt_server): Add log_rssi command to ble gatt server menu
  components/ble_gatt_server/include/ble_gatt_server_menu.hpp
Labels: enhancement, cli, ble gatt server
