Repository esp-cpp/espp, pull requests merged in 2024-06, with the labels that each got.

#250 feat(nvs): update to support string values
  components/nvs/example/main/nvs_example.cpp
  components/nvs/include/nvs.hpp
Labels: enhancement, nvs

#252 fix(nvs): pass ec reference to erase()
  components/nvs/include/nvs.hpp
Labels: bug, nvs

#255 fix(adc): fix deprecation warning from include in adc_types.hpp
  components/adc/include/adc_types.hpp
Labels: bug, adc

#257 feat(nvs): NVSHandle Wrapper
  components/nvs/example/README.md
  components/nvs/example/main/nvs_example.cpp
  components/nvs/include/nvs.hpp
  components/nvs/include/nvs_handle_espp.hpp
  doc/Doxyfile
  doc/en/nvs.rst
Labels: enhancement, nvs

#260 feat(nvs): refactor espp::Nvs to use espp::NvsHandle
  components/nvs/example/main/nvs_example.cpp
  components/nvs/include/nvs.hpp
  components/nvs/include/nvs_errc.hpp
  components/nvs/include/nvs_handle_espp.hpp
Labels: enhancement, nvs

#261 feat(math): Refactor `espp::RangeMapper<>` to have center deadband and range deadband and remove invert-input. Similar update to `espp::Joystick`. Fixed bug in `espp::Joystick` which introduced non-linearity when configured as a `CIRCULAR` joystick.
  components/controller/example/main/controller_example.cpp
  components/joystick/example/main/Kconfig.projbuild
  components/joystick/example/main/joystick_example.cpp
  components/joystick/include/joystick.hpp
  components/math/example/main/math_example.cpp
  components/math/include/range_mapper.hpp
Labels: enhancement, math, joystick

#262 feat(file_system): Add APIs for getting file paths and refactor implementation
  components/file_system/CMakeLists.txt
  components/file_system/example/README.md
  components/file_system/example/main/file_system_example.cpp
  components/file_system/example/partitions.csv
  components/file_system/example/sdkconfig.defaults
  components/file_system/include/file_system.hpp
  components/file_system/src/file_system.cpp
Labels: enhancement, file system

#263 feat(file_system): update so that mount point and related const APIs are static
  components/file_system/example/main/file_system_example.cpp
  components/file_system/include/file_system.hpp
  components/file_system/src/file_system.cpp
Labels: enhancement, file system
