Repository esp-cpp/espp, pull requests merged in 2025-03, with the labels that each got.

#391 feat(display): Update to support multiple displays
  components/display/include/display.hpp
Labels: enhancement, display

#393 fix static analysis
  .github/workflows/static_analysis.yml
  components/adc/include/continuous_adc.hpp
  components/adc/include/oneshot_adc.hpp
  components/ads7138/example/main/ads7138_example.cpp
  components/ble_gatt_server/example/main/ble_gatt_server_example.cpp
  components/bm8563/example/main/bm8563_example.cpp
  components/button/example/main/button_example.cpp
  components/chsc6x/example/main/chsc6x_example.cpp
  components/cli/include/line_input.hpp
  components/cst816/example/main/cst816_example.cpp
  components/display_drivers/example/main/display_drivers_example.cpp
  components/esp-box/example/main/esp_box_example.cpp
  components/esp-box/src/video.cpp
  components/ft5x06/example/main/ft5x06_example.cpp
  components/gfps_service/example/main/gfps_service_example.cpp
  components/gfps_service/src/nearby_audio.cpp
  components/gfps_service/src/nearby_battery.cpp
  components/gt911/example/main/gt911_example.cpp
  components/hid-rp/include/hid-rp-switch-pro.hpp
  components/hid_service/example/main/hid_service_example.cpp
  components/interrupt/include/interrupt.hpp
  components/led_strip/example/main/led_strip_example.cpp
  components/matouch-rotary-display/src/matouch-rotary-display.cpp
  components/max1704x/example/main/max1704x_example.cpp
  components/rmt/example/main/rmt_example.cpp
  components/seeed-studio-round-display/example/main/seeed_studio_round_display_example.cpp
  components/seeed-studio-round-display/src/seeed-studio-round-display.cpp
  components/state_machine/example/main/hfsm_example.cpp
  components/t-deck/src/t-deck.cpp
  components/t-dongle-s3/src/t-dongle-s3.cpp
  components/task/include/run_on_core.hpp
  components/tt21100/example/main/tt21100_example.cpp
  components/wrover-kit/src/wrover-kit.cpp
  pc/tests/task.cpp
Labels: bug, static analysis, chore

#395 fix(esp-box): Add missing check for empty parameters in spi transmit
  components/esp-box/src/video.cpp
  components/matouch-rotary-display/src/matouch-rotary-display.cpp
  components/seeed-studio-round-display/src/seeed-studio-round-display.cpp
  components/t-deck/src/t-deck.cpp
  components/t-dongle-s3/src/t-dongle-s3.cpp
  components/wrover-kit/src/wrover-kit.cpp
Labels: bug, esp-box

#397 feat(runqueue): Add `espp::RunQueue` component
  .github/workflows/build.yml
  components/runqueue/CMakeLists.txt
  components/runqueue/example/CMakeLists.txt
  components/runqueue/example/README.md
  components/runqueue/example/main/CMakeLists.txt
  components/runqueue/example/main/runqueue_example.cpp
  components/runqueue/example/sdkconfig.defaults
  components/runqueue/include/runqueue.hpp
  components/runqueue/src/runqueue.cpp
  doc/Doxyfile
  doc/en/index.rst
  doc/en/runqueue.rst
  doc/en/runqueue_example.md
Labels: enhancement, run queue

#398 feat(esp-box): Add interrupts for mute and boot buttons
  components/esp-box/include/esp-box.hpp
  components/esp-box/src/audio.cpp
  components/esp-box/src/buttons.cpp
  components/qtpy/src/qtpy.cpp
Labels: enhancement, esp-box, qtpy

#399 doc: fix
  components/runqueue/include/runqueue.hpp
Labels: bug, documentation

#401 feat(runqueue): Add id for tracking function execution
  components/runqueue/CMakeLists.txt
  components/runqueue/example/README.md
  components/runqueue/example/main/runqueue_example.cpp
  components/runqueue/include/runqueue.hpp
  components/runqueue/src/runqueue.cpp
Labels: enhancement, run queue

#403 feat(motorgo-mini): Replace use of `espp::Button` with `espp::Interrupt`
  components/motorgo-mini/CMakeLists.txt
  components/motorgo-mini/Kconfig
  components/motorgo-mini/example/main/motorgo_mini_example.cpp
  components/motorgo-mini/include/motorgo-mini.hpp
  components/motorgo-mini/src/button.cpp
  components/motorgo-mini/src/motorgo-mini.cpp
Labels: enhancement, motorgo mini

#404 feat(vector): Add angle method to get angle between two vectors
  components/math/include/vector2d.hpp
Labels: enhancement, math

#405 feat(vector2d): Add `signed_angle` and `inv_magnitude` methods
  components/math/example/main/math_example.cpp
  components/math/include/vector2d.hpp
Labels: enhancement, math

#400 feat(display): Remove display task to instead have lvgl handle it directly
  components/display/include/display.hpp
  components/esp-box/example/main/esp_box_example.cpp
  components/esp-box/include/esp-box.hpp
  components/esp-box/src/video.cpp
  components/matouch-rotary-display/include/matouch-rotary-display.hpp
  components/matouch-rotary-display/src/matouch-rotary-display.cpp
  components/seeed-studio-round-display/example/main/seeed_studio_round_display_example.cpp
  components/seeed-studio-round-display/include/seeed-studio-round-display.hpp
  components/seeed-studio-round-display/src/seeed-studio-round-display.cpp
  components/t-deck/include/t-deck.hpp
  components/t-deck/src/t-deck.cpp
  components/t-dongle-s3/include/t-dongle-s3.hpp
  components/t-dongle-s3/src/t-dongle-s3.cpp
  components/wrover-kit/include/wrover-kit.hpp
  components/wrover-kit/src/wrover-kit.cpp
Labels: enhancement, display

#406 feat(motorgo): Update to allow encoder accumulator to be reset
  components/motorgo-mini/include/motorgo-mini.hpp
  components/motorgo-mini/src/motorgo-mini.cpp
  components/mt6701/include/mt6701.hpp
Labels: enhancement, mt6701, motorgo mini

#407 feat(motorgo-mini): API update - allow motor configuration and only pay for what you use
  components/bldc_driver/include/bldc_driver.hpp
  components/motorgo-mini/example/main/motorgo_mini_example.cpp
  components/motorgo-mini/include/motorgo-mini.hpp
  components/motorgo-mini/src/motorgo-mini.cpp
Labels: enhancement, bldc, motorgo mini

#408 feat(icm20948): Add `Icm20948` component for 9-axis IMU, update `Icm42607` as well
  .github/workflows/build.yml
  components/esp-box/example/main/esp_box_example.cpp
  components/esp-box/include/esp-box.hpp
  components/esp-box/src/audio.cpp
  components/esp-box/src/imu.cpp
  components/icm20948/CMakeLists.txt
  components/icm20948/example/CMakeLists.txt
  components/icm20948/example/README.md
  components/icm20948/example/main/CMakeLists.txt
  components/icm20948/example/main/Kconfig.projbuild
  components/icm20948/example/main/icm20948_example.cpp
  components/icm20948/example/sdkconfig.defaults
  components/icm20948/include/icm20948.hpp
  components/icm20948/include/icm20948_detail.hpp
  components/icm20948/src/icm20948.cpp
  components/icm42607/example/main/icm42607_example.cpp
  components/icm42607/include/icm42607.hpp
  components/icm42607/include/icm42607_detail.hpp
  components/math/include/fast_math.hpp
  components/utils/CMakeLists.txt
  components/utils/include/bitmask_operators.hpp
  doc/Doxyfile
  doc/en/imu/icm20948.rst
  doc/en/imu/icm20948_example.md
  doc/en/imu/index.rst
Labels: enhancement, esp-box, imu, icm42607, icm42670, icm20948

#409 feat(vl53l): Add `espp::Vl53l` component for interacting with VL53LXX Time-of-Flight (ToF) Distance Sensors
  .github/workflows/build.yml
  components/vl53l/CMakeLists.txt
  components/vl53l/example/CMakeLists.txt
  components/vl53l/example/README.md
  components/vl53l/example/main/CMakeLists.txt
  components/vl53l/example/main/Kconfig.projbuild
  components/vl53l/example/main/vl53l_example.cpp
  components/vl53l/example/sdkconfig.defaults
  components/vl53l/include/vl53l.hpp
  doc/Doxyfile
  doc/en/distance_sensors/index.rst
  doc/en/distance_sensors/vl53l.rst
  doc/en/distance_sensors/vl53l_example.md
  doc/en/index.rst
Labels: enhancement, time of flight, distance sensor, vl53l

#411 fix(joystick): Update joystick to fix edge case
  components/joystick/example/main/joystick_example.cpp
  components/joystick/src/joystick.cpp
Labels: bug, joystick
