Repository esp-cpp/espp, pull requests merged in 2025-01, with the labels that each got.

#358 feat(task): Allow `run_on_core` callers to ensure a separate task is created
  components/task/include/run_on_core.hpp
Labels: enhancement, tasks

#359 feat(led): Update to allow configuration of the led sleep mode
  components/led/include/led.hpp
  components/led/src/led.cpp
Labels: enhancement, led

#361 feat(hid): Add xbox battery input report
  components/hid-rp/example/main/hid_rp_example.cpp
  components/hid-rp/include/hid-rp-gamepad.hpp
  components/hid_service/example/main/hid_service_example.cpp
Labels: enhancement, hid, hid-rp, hid service

#362 feat(ble_gatt_server): Update `get_connected_device_{name/rssi}` to take const arguments
  components/ble_gatt_server/include/ble_gatt_server.hpp
Labels: enhancement, ble gatt server

#363 fix(build): Fix missing include since platform-espressif32 v6.10.0
  components/codec/es8311/es8311.hpp
Labels: bug, codec
